.radio-container{
  margin-left:10px;
  margin-top:10px;
}

.list-container{
  width:80%;
  margin-left:10%;
}

.vote-container{
  width: 100px;
  margin-right:10px;
}

.time-container{
  width: 300px;
}

.vote{
  margin-right:5px;
}

.time{
  margin-right: 10px;
}

.button-container{
  margin-left: 10px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.vote-button, .time-button{
  margin-left:5px ;
}

.create{
  margin-left:60%;
}

.comments-number{
  margin-right: 10px;
}
